<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <!-- navbar.ejs -->

<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/person/new" class="nav-link">Create Person</a>
      </li>
      <li class="nav-item">
        <a href="/person" class="nav-link">See All Person</a>
      </li>
      <li class="nav-item">
        <a href="/person/:id/edit" class="nav-link">Update Person</a>
      </li>
      <li class="nav-item">
        <a href="/person/:id/delete" class="nav-link">Delete Person</a>
      </li>
    </ul>
  </nav>
  
</body>
</html>